@import '../styles/variables/style';

.layout-main {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;

    .left-menu {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        background-color: $white-bg;
        position: sticky;
            top: 0;
    }

    .main-content {
        width: calc(100vw - 600px);
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .top-head {
            width: 100%;
            min-height: 60px !important;
            position: sticky;
            top: 0;
        }

        .page-container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            min-height: calc(100vh - 120px);
            overflow-y: scroll;

        }
    }

    .right-tools {
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        background-color: $white-bg;
        position: sticky;
            top: 0;
    }
}