// colors
$primary-color: #0673c1;
$secondary-color: #212f55;
$tertiary-color: #152143;
$accent-color: #389970;
$light-bg-color: #fff;
$bg-color: #F5F5FB;
$white-bg: #FEFEFE;

$text-color: #212f55;
$text-light-color: #fff;
$text-grey-color: #ccc;